body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

img#logo {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #fd7e14;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #fd7e14;
    color: white;
}

.home-container {
    padding: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fd7e14;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Custom button styling for "2024 Customer Spend" */
.pushable {
    background: #fd7e14;
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    text-decoration: none; /* Make it look like a button, not a link */
    display: inline-block; /* Ensure it's inline for layout */
}
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #fd7e14;
    color: white;
    transform: translateY(-6px);
    transition: transform 0.2s; /* Smooth transition */
}

.pushable:active .front {
    transform: translateY(-2px);
}

/* Add some color coding */
.product-group1 {
    background-color: #f2f2f2; 
    font-weight: bold;
}

.product-group2 {
    background-color: #ffffff; 
    font-weight: bold;
}

.product-group3 {
    background-color: #f2f2f2; 
    font-weight: bold;
}
.product-group4 {
    background-color: #ffffff; 
    font-weight: bold;
}

.product-group5 {
    background-color: #f2f2f2; 
    font-weight: bold;
}

.product-group6 {
    background-color: #ffffff; 
    font-weight: bold; 
}
.product-group7 {
    background-color: #f2f2f2; 
    font-weight: bold;
}

.product-group8 {
    background-color: #ffffff; 
    font-weight: bold;
}

.product-group9 {
    background-color: #f2f2f2; 
    font-weight: bold; 
}
.product-group10 {
    background-color: #ffffff; 
    font-weight: bold; 
}

.product-group11 {
    background-color: #f2f2f2; 
    font-weight: bold; 
}
.product-group12 {
    background-color: #ffffff; 
    font-weight: bold;  
}
.product-group13 {
    background-color: #f2f2f2; 
    font-weight: bold; 
}

.product-group14 {
    background-color: #ffffff; 
    font-weight: bold; 
}


#accountInfo h2 {
    font-size: 16px; /* Adjust the font size as needed */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight-row {
    color: rgb(255, 0, 0); /* Light red background */
    font-weight: bold;      /* Bold text */
}
